<a name="chat"></a>
<!-- IF not $S_IN_PORTAL -->
<div class="forumbg">
<div class="inner"><span class="corners-top"><span></span></span>
<ul class="topiclist">
	<li class="header">
		<dl class="icon">
			<dd style="width:100%;">&nbsp;<div style="float:left;"><a id="chat_enter" href="{U_CHAT_LINK}"><!-- IF S_CHAT_NOTIN -->{L_CHAT_ENTER}<!-- ELSE -->{L_CHAT_EXIT}<!-- ENDIF --></a></div><div style="float:right;" id="clock"></div>&nbsp;</dd>
		</dl>
	</li>
</ul>
<!-- ELSE -->
{$C_BLOCK_H_L}<div style="float:left;"><!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF --><a id="chat_enter" href="{U_CHAT_LINK}"><!-- IF S_CHAT_NOTIN -->{L_CHAT_ENTER}<!-- ELSE -->{L_CHAT_EXIT}<!-- ENDIF --></a></div><div style="float:right;" id="clock"></div>{$C_BLOCK_H_R}
<!-- ENDIF -->
	<!-- IF S_CHAT_NOTIN and CHAT_MINIMIZED -->
	<script type="text/javascript">
	// <![CDATA[
	 jQuery(document).ready(
		function($)
		{
			$("#chat_area").hide();
			$("#chat_enter").mouseover(function () {
				$("#chat_area").show();
				return false;
			});
			$("#chat_enter").mouseout(function () {
				$("#chat_area").hide();
				return false;
			});
		}
	);
	// ]]>
	</script>
	<!-- ENDIF -->

<ul class="topiclist topics" id="chat_area">
		<li class="row bg1">
			<dl class="icon">
				<dd class="lastpost" style="width:100%">
		<!-- IF S_IS_POSTABLE -->
	<!-- IF not S_CHAT_NOTIN -->

	<script type="text/javascript">
	// <![CDATA[
		function start_clock()
		{
			var tick;
			var ut=new Date();
			var h,m,s;
			var time="";
			h=ut.getHours();
			m=ut.getMinutes();
			s=ut.getSeconds();
			if(s<=9) s="0"+s;
			if(m<=9) m="0"+m;
			if(h<=9) h="0"+h;
			time+=h+":"+m+":"+s;
			document.getElementById('clock').innerHTML=time;
			tick=setTimeout("start_clock()",1000);
		}

	 jQuery(document).ready(
		function($)
		{
			start_clock();

			handle_send("read", 0);

		}
	);
	function getCookie(name)
	{
		var start = document.cookie.indexOf( name + "=" );
		var len = start + name.length + 1;
		if ((!start) && (name != document.cookie.substring( 0, name.length)))
		{
			return null;
		}
		if (start == -1) return null;
		var end = document.cookie.indexOf(';', len);
		if (end == -1) end = document.cookie.length;
		return unescape(document.cookie.substring(len, end));
	}

	function setCookie (name, value, expires, path, domain, secure)
	{
		var today = new Date();
		today.setTime(today.getTime());
		if (expires)
		{
			expires = expires * 1000 * 60 * 60 * 24;
		}
		var expires_date = new Date( today.getTime() + (expires));
		document.cookie = name+'='+escape( value ) +
		((expires) ? ';expires='+expires_date.toGMTString() : '' ) + //expires.toGMTString()
		((path) ? ';path=' + path : '' ) +
		((domain) ? ';domain=' + domain : '' ) +
		((secure) ? ';secure' : '' );
	}

	function deleteCookie (name, path, domain)
	{
		if (getCookie(name)) document.cookie = name + '=' +
		((path) ? ';path=' + path : '') +
		((domain) ? ';domain=' + domain : '' ) +
		';expires=Thu, 01-Jan-1970 00:00:01 GMT';
	}

	var fieldname = 'chat_window';
	var last_time = {TIME};
	var xmlHttp = http_object();
	var last_id = {LAST_ID};
	var type = 'receive';
	var post_time = {TIME};
	var read_interval = {REFRESH};
	var interval = setInterval('handle_send("read", last_id);', read_interval);

	function handle_send(mode, f)
	{
		if(document.text.message.value=='' && (mode != 'read' && mode != 'delete'))
		{
			return false;
		}

		if (xmlHttp.readyState == 4 || xmlHttp.readyState == 0)
		{
			indicator_switch('on');
			type = 'receive';
			param = 'mode=' + mode;
			//param += '&last_id=' + last_id;
			//param += '&last_time=' + last_time;
			//param += '&last_post=' + post_time;
			//param += '&read_interval=' + read_interval;

			if (mode == 'add' && document.text.message.value != '')
			{
				type = 'send';
				for(var i = 0; i < f.elements.length; i++)
				{
					elem = f.elements[i];
					param += '&' + elem.name + '=' + encodeURIComponent(elem.value);
				}
				document.text.message.value = '';
			}
			else if (mode == 'delete')
			{
				type = 'delete';
				param += '&del_mess=' + f;
			}

			<!-- IF IN_CHAT -->document.text.message.focus();<!-- ENDIF -->
			xmlHttp.open("POST", '{FILENAME}', true);
			xmlHttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			xmlHttp.onreadystatechange = handle_return;
			xmlHttp.send(param);
		}
	}

	function handle_return()
	{
		if (xmlHttp.readyState == 4)
		{
			if (type != 'delete')
			{
				results = xmlHttp.responseText.split('---');
				//if (results[0])
				//{
					//if (last_id == 0)
					//{
						document.getElementById(fieldname).innerHTML = results[0];
					//}
					//else
					//{
						//document.getElementById(fieldname).innerHTML = results[0] + document.getElementById(fieldname).innerHTML;
					//}
					//last_id = results[1];
					//if (results[2])
					//{
						document.getElementById('users').innerHTML = results[2];
						//last_time = results[3];
					//}
					/*if (results[4] != read_interval)
					{
						window.clearInterval(interval);
						read_interval = results[4];
						interval = setInterval('handle_send("read", last_id);', read_interval);
						//document.getElementById('update_seconds').innerHTML = results[4];
					}*/
					if(results[5]!=0)
					{
						killtime(results[5]);
					}
				//}
			}
			indicator_switch('off');
		}
	}

	function delete_post(chatid)
	{
		if(confirm('{L_CHAT_DELMESS}'))
		{
			document.getElementById('p' + chatid).style.display = 'none';
			handle_send('delete', chatid);
		}
	}

	function indicator_switch(mode)
	{
		if(document.getElementById("act_indicator"))
		{
			var img = document.getElementById("act_indicator");
			if(img.style.visibility == "hidden" && mode == 'on')
			{
				img.style.visibility = "visible";
			}
			else if (mode == 'off')
			{
				img.style.visibility = "hidden";
			}
		}
	}

	function http_object()
	{
		if (window.XMLHttpRequest)
		{
			return new XMLHttpRequest();
		}
		else if(window.ActiveXObject)
		{
			return new ActiveXObject("Microsoft.XMLHTTP");
		}
		else
		{
			document.getElementById('chat_window').innerHTML = 'Status: Cound not create XmlHttpRequest Object.  Consider upgrading your browser.';
		}
	}

	function inserttext(str)
	{
		if(str!='')
		{
			document.text.message.value += str;
		}
		else
		{
			document.text.message.value = '';
		}
		document.text.message.focus();
	}
	function fulltime()
	{
		document.text.submit.disabled=true;
		if(document.text.submit.value > 0)
		{
			document.text.submit.value-=1;
		}
		else if(document.text.submit.value == 0)
		{
			document.text.submit.value = '{L_CHAT_SEND}';
			document.text.submit.disabled=false;
			document.text.message.focus();
			return;
		}
		else
		{
			document.text.submit.value = {WAITTIME};
		}

		setTimeout('fulltime()', 1000);
	}

	function killtime(r)
	{
		if(r)
		{
			document.location.href='./viewchat.{PHPEX}?f={FORUM_ID}&chat=exit&r='+r;
		}
	}
	// ]]>
	</script>
	<!-- ENDIF -->
			<link rel="stylesheet" href="{ROOT_PATH}chat/css/stylesheet_chat.css" type="text/css" />
		<table width="100%" cellspacing="1">
		<tr align="center" class="bg2"<!-- IF not S_FORM_WINDOW --> style="display:none;"<!-- ENDIF -->>
			<td colspan="3" height="25">
				<form name="text" id="text" method="post" action="javascript:void(0);" onsubmit="handle_send('add', this);{FULLTIME}" autocomplete="off">
				<strong style="color:#000000;">{L_MESSAGE}: </strong><input type="text" maxlength="255" tabindex="1" name="message" id="message" class="inputbox chatinput" />&nbsp;<img alt="" src="{ROOT_PATH}chat/images/act_indicator.gif" id="act_indicator" />&nbsp;
				<input type="submit" class="button1" value="{L_CHAT_SEND}" name="submit" tabindex="6" accesskey="s"/><input class="button1" type="reset" value="{L_CHAT_RESET}" /><br />

				</form>
			</td>
		</tr>

		<!-- IF S_MESSAGE_WINDOW or S_USER_WINDOW or S_BAR_WINDOW -->
		<tr class="bg1">
			<td style="width:10%;" valign="top">
				<!-- IF S_BAR_WINDOW -->
				<div class="smilies" id="smyles">{CHATSMILIES}</div>
				<!-- ENDIF -->
			</td>
			<td style="width:70%;" valign="top" id="td_shouts">
					<!-- IF S_MESSAGE_WINDOW -->
					<div class="shouts" id="shouts">
						<div id="chat_window"></div>
					</div>
					<!-- ENDIF -->
			</td>
			<td valign="top" style="width:20%;">
					<!-- IF S_USER_WINDOW -->
					<div class="users" id="users"></div>
					<!-- ENDIF -->
			</td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_CHAT_NOTIN -->
			<!-- <tr class="bg1">
			<td colspan="3" align="center" valign="middle" height="35">{L_CHAT_LOGIN}</td>
			</tr> -->
		<!-- ENDIF -->
		<!-- IF S_ONLINE_WINDOW -->
		<tr class="bg1">
			<td colspan="3" align="center" valign="middle" height="35">{ONLINE_MESSAGE}</td>
		</tr>
		<!-- ENDIF -->
		<tr class="bg1">
			<td colspan="3" align="center" valign="middle">&nbsp;<!-- IF not S_CHAT_NOTIN -->{CHAT_TUPDATE}&nbsp;<!-- ENDIF --></td>
		</tr>

			<tr class="bg2">
				<td colspan="3" align="center" valign="middle">&copy; <a href="http://www.ppkbb3cker.ru/" target="_blank">ppkBB3cker</a> Chat 2008-2012  @ <a href="http://protoneutron.narod.ru/" target="_blank">PPK</a></td>
		</tr>
		</table>
		<!-- ENDIF -->
				</dd>
			</dl>
		</li>


</ul>
<!-- IF not $S_IN_PORTAL -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
<br />
<!-- ELSE -->
{$C_BLOCK_F_L}{$C_BLOCK_F_R}
<!-- ENDIF -->
