<table id="convert" cellpadding="1" cellspacing="1" width="100%" style="display:none;" border="0">
	<tr>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="byte" value="0" /><br /><input type="button" name="B21" value="{L_BYTES}" onClick="convertb(this.form)" style="width:60px;cursor:pointer;" /></td>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="kb" value="0" /><br /><input type="button" name="B22" value="{L_KB}" onClick="convertkb(this.form)" style="width:60px;cursor:pointer;" /></td>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="mb" value="0" /><br /><input type="button" name="B23" value="{L_MB}" onClick="convertmb(this.form)" style="width:60px;cursor:pointer;" /></td>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="gb" value="0" /><br /><input type="button" name="B24" value="{L_GB}" onClick="convertgb(this.form)" style="width:60px;cursor:pointer;" /></td>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="tb" value="0" /><br /><input type="button" name="B25" value="{L_TB}" onClick="converttb(this.form)" style="width:60px;cursor:pointer;" /></td>
		<td class="row1"align="center" style="text-align:center;"><input type="text" style="width:130px;text-align:center;" name="pb" value="0" /><br /><input type="button" name="B25" value="{L_PB}" onClick="convertpb(this.form)" style="width:60px;cursor:pointer;" /></td>
	</tr>
	<tr>
		<td class="row1"colspan="6" align="center" style="text-align:center;">Based on the converter by egret.net</td>
	</tr>
</table>
