
<!-- INCLUDE overall_header.html -->

<form action="{S_POST_ACTION}" method="get">
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" align="center">{UPLOAD_TORRENT}</th>
</tr>
<tr>
	<td class="row1"><b class="genmed">{L_SELECT_FORUM}:</b></td>
	<td class="row2"><select name="f">{S_UPLOAD_TORRENT}</select></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center">
		<input type="hidden" name="mode" value="post" />
		<input class="btnmain" type="submit" value="{L_SUBMIT}" />
	</td>
</tr>
</table>
</form>

<!-- INCLUDE overall_footer.html -->
